<li class='py-12 cursor-default select-none animate-pulse'>
  <div class='space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0'>
    <div>
      <div class='w-2/3 h-8 bg-gradient-to-r from-gray-200 to-gray-300'></div>
      <div class='flex items-center mt-6 mb-4 xl:mb-0'>
        <div class='flex-shrink-0'>
          <div
            class='w-10 h-10 rounded-full bg-gradient-to-r from-gray-200 to-gray-300'
          ></div>
        </div>
        <div class='w-full ml-3'>
          <div class='w-2/5 h-8 bg-gradient-to-r from-gray-200 to-gray-300'>
          </div>
        </div>
      </div>
    </div>
    <div class='space-y-5 xl:col-span-3'>
      <div class='space-y-6'>
        <div class='w-3/5 h-8 bg-gradient-to-r from-gray-200 to-gray-300'>
        </div>
        <div>
          <div
            class='w-full h-8 bg-gradient-to-r from-gray-200 to-gray-300'
          ></div>
        </div>
        <div class='text-base font-medium'>
          <span class='text-primary-600 hover:text-primary-700'>
            Loading →
          </span>
        </div>
      </div>
    </div>
  </div>
</li>